$primary: #3e3e3f;
$accent: #977ef3;
$bg: #ffffff;
$bg-accent: #e7e8e9;
$disabled: #9c9c9c;
$foreground: #2d264b;

body {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(0deg, $primary 0.03%, $accent);
  color: $foreground;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}

.quiz-container {
  width: 900px;
  background: $bg;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 100px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;

  .active-question-no {
    font-size: 40px;
    font-weight: 500;
    color: $primary;
  }

  .total-question {
    font-size: 16px;
    font-weight: 500;
    color: $disabled;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }

  ul {
    margin-top: 20px;
    margin-left: -40px;

    li {
      text-decoration: none;
      list-style: none;
      color: $foreground;
      font-size: 16px;
      background: $bg;
      border: 1px solid $disabled;
      border-radius: 16px;
      padding: 11px;
      margin-top: 15px;
      cursor: pointer;
    }

    .selected-answer {
      background-color: $primary;
      border: 1px solid $accent;
      color: $bg;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
  button {
    background: linear-gradient(0deg, $accent 0.03%, $primary);
    border-radius: 9px;
    font-size: 18px;
    color: $bg;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;

    &:disabled {
      background: $bg-accent;
      color: $disabled;
      cursor: not-allowed;
    }
  }
  .result {
    text-align: center;
    h3 {
      font-size: 24px;
      letter-spacing: 1.4px;
      text-align: center;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      span {
        color: $primary;
        font-size: 22px;
      }
    }
  }
}

.answer-timer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px soild $disabled;
  .progress {
    height: 5px;
    transition-duration: 1s;
    width: 0;
    transition-timing-function: linear;
  }
}
